:root {
    --bg-color: #ffffff;
    --text-color: #202020;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#price-area {
    display: flex;
    flex-direction: column;
    
}

.div-input {
    display: flex;
    gap: 1rem;
    align-items: center;
}

input {
    padding: 0.4rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--text-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.default-input-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.default-input-wrapper > p {
    margin: 0;
}

#remaining-assets {
    margin: 0;
}

button {
    width: 60px;
    height: 25px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #202020;
        --text-color: #ffffff;
    }
}